{% extends 'base.html' %}
{% load static %}

{% block extraheadtable %}
    <link href="{% static "theme/plugins/material-preloader/css/materialPreloader.min.css" %}" rel="stylesheet">
    <link href="{% static "theme/plugins/datatables/css/jquery.dataTables.css" %}" rel="stylesheet">
    <link href="{% static "theme/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Listagem Computadores</span>
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Código</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Código</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for computer in object_list %}
                                <tr>
                                    <td>{{ computer.nome }}</td>
                                    <td>{{ computer.codigo }}</td>
                                    <td>
                                        <a class="btn-floating waves-effect waves-light blue" data-toggle="tooltip" title="Editar" href="{% url 'computer_status_edit' computer.pk %}"><i class="material-icons">edit</i></a>
                                        <a class="btn-floating waves-effect waves-light red" data-toggle="tooltip" title="Apagar" href="{% url 'computer_status_delete' computer.id %}"><i class="material-icons">delete</i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large green" href="{% url 'computer_status_new' %}">
            <i class="large material-icons">add</i>
        </a>
    </div>

{% endblock %}
{% block extrajs %}

    <script src="{% static "theme/js/alpha.js" %}"></script>
    <script src="{% static "theme/js/pages/table-data.js" %}"></script>
    <script src="{% static "theme/plugins/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "theme/plugins/sweetalert/sweetalert.min.js" %}"></script>
    <script>
        $( document ).ready(function() {

            {% if messages %}
                {% for message in messages %}
                    swal("{{message}}");
                {% endfor %}
            {% endif %}


        })

    </script>

{% endblock %}
